@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
 @Html.ValidationSummary();
<div class="jumbotron">
    <h1>Rock Paper Scissors, File Upload</h1>
    <p class="lead">Select the file you want to upload:</p>
    <input type="file" name="file" id="fileToUpload" />
    <p><input name=attach type="submit" value="Add .txt file" size="20" id="btnSubmit" />
        <input type="button" value="Clear Results" id="btnDelete" />
    </p>
    <span class="field-validation-error" id="spanfile"></span>
</div>
}
